#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/tmp

export QT_SELECT := qt5

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure $@ --sourcedir=$(CURDIR)/eglfs_viv
	replace /usr/lib/aarch64-linux-gnu/libEGL.so /usr/lib/galcore/fb/libEGL.so -- eglfs_viv/Makefile
	replace /usr/lib/aarch64-linux-gnu/libGLESv2.so /usr/lib/galcore/fb/libGLESv2.so -- eglfs_viv/Makefile
	dh_auto_configure $@ --sourcedir=$(CURDIR)/eglfs_viv_wl
	replace /usr/lib/aarch64-linux-gnu/libEGL.so /usr/lib/galcore/wl/libEGL.so -- eglfs_viv_wl/Makefile
	replace /usr/lib/aarch64-linux-gnu/libGLESv2.so /usr/lib/galcore/wl/libGLESv2.so -- eglfs_viv_wl/Makefile

override_dh_auto_build:
	dh_auto_build $@ --sourcedir=$(CURDIR)/eglfs_viv
	dh_auto_build $@ --sourcedir=$(CURDIR)/eglfs_viv_wl

override_dh_auto_install:
	install -v -m644 -D plugins/egldeviceintegrations/libqeglfs-viv-integration.so $(DESTDIR)/usr/lib/aarch64-linux-gnu/qt5/plugins/egldeviceintegrations/libqeglfs-viv-integration.so
	install -v -m644 -D plugins/egldeviceintegrations/libqeglfs-viv-wl-integration.so $(DESTDIR)/usr/lib/aarch64-linux-gnu/qt5/plugins/egldeviceintegrations/libqeglfs-viv-wl-integration.so
